<html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NERİMAN -İCA PRATİK</title>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/1074393087285137488/1074401433660694598/2023_10_021.png" />

    
</head>

</html> 
<head> 
    <body>
        <i class="fa fa-heart" aria-hidden="true"></i>

    <html>
<body bgcolor="black" style="color:white">


<br> <br> 
    <h1 style="color:rgb(240, 190, 240)"align="margin-left"><u>NERİMAN TOPÇU</u></h1>

    <h2 style="color:rgb(248, 193, 255)"align="margin-left"><u>HAKKIMDA</u></h2>
<ul>
   <p> "Okuyacaksınız, okutacaksınız; kürsüde, minberde, mektepte ve üniversitede. İlmin en büyük ibadet olduğunu halka öğreteceksiniz !"</p>

<li> Nurettin Topçu </li>
        <br>
     <br>   

         Merhaba, <br> <p>18 yaşındayım, İstanbul'da yaşıyorum. Sabancı 50. Yıl Anadolu Lisesi'de okudum ve mezun olduktan sonra 1 sene daha  mezuna kalarak 
YKS sınavlarına hazırlanmaktayım. Aynı zamanda kendimi de kişisel alanda geliştirmeye, çok yönlü olmaya çalışıyorum. Çünkü; çok yönlülük, kişiye düşünme hakkında sınır tanımamayı sağlar. 

Benim bütün motivasyonum, fikrim ve öğrenmek aşamasındaki tüm faaliyetim, çok değerli Nurettin Topçu hocamızın girişe eklediğim sözündendir en çok.
Yaşamayı ve öğrenmeyi kendime bir görev sayarım ve sürekli öğrenmek, yayılmak, çaba göstermek ve girişmek, benim için her zaman en doğrusundan ziyade en çok tercih ettiğim olmuştur. 
Çünkü tercihlerimiz, bizi biz yapan değer olduğundan, aslında doğru dediğimiz kavrmamın 'kendini gerçekleştirmek' mevzusu olacağını düşündüğümüzden arkadaşımla bir ekip kurduk! </p>
<br> <br>
    <u><li><b><a style="color:rgb(21, 163, 245)"align="margin-left"></style>Ekibimizin adı; EAWİNQ ( i'vın ke'y)</b></u></li>
    
      <br><br>
      
        <title> EAWİNQ - Sowtware Development Team</title>
        <style>
            div {
               height: 100px;
               width: 600px;
               color: midnightblue;
               background-color: gold;
               text-align: left;
               padding: 14px;
               outline-width: 10px;
               outline-style: solid;
               outline-color: black;  
            }
        </style>
        <body>
            <div>
              <p> <b> <u>EAWİNQ,</u>  bir yazılım geliştirme ekibidir. Genç ve dinamik ekibimizle ileriye dönük, problem odaklı ve hümanist teknolojiler hakkında şimdilik akıl yürütme aşamasındayız. Birçok teknolojik yenilik için teknolojik algoritma dilleri ve yapay zeka verisi gerekli olduğundan "yazılım geliştirme" adı altında temellerimizi atıyoruz.</b></p>
            </div>
          </body>
  
    
    

<img src="https://cdn.discordapp.com/attachments/1076839031758934036/1077053652264570921/BANNER.REAL.jpg"  width="600" height="350" alt="istanbul manzara" alt="EAWİNQ İleştişim Bannerı."/>

<br> <br>
<button onclick="window.location.href='https://www.linkedin.com/company/eawinq'">EAWİNQ LindkedIn Şirket Profiline Gitmek İçin Tıklayın</button>







<a style="color:bisque"></style> </u></b> </p>
<br> <p><b><u><li>Aşağıda, İnsider Code Academy ile öğrenmeye başlarken, yaptığım prtaiklere ait, kendim için oluşturmuş olduğum notlar bulunmaktadır. 
</li>  
<hr style="width: 100%;text-align:left;margin-left:0;color:rgb(255, 255, 255)"></style> <br>
<h2 style="color:red"align="center"><u>2023 AYT SINAV KONULARI</u></h2>
</ul>
<br>
</body>

</html>
     <ul>
        <a style="color:rgb(255, 255, 255)"></style> </u></b> </p>

        <li> <b>Milli Eğitim Bakanlığı, ülkemizdeki Kahramanmaraş merkezli depremden dolayı, YKS 2023 adaylarının, 12. sınıf 2. dönem konularından muaf tutulacağını açıkladı.</b></li>
        <li><b>Dolayısıyla, öğrenciler müfredattaki bütün AYT sayısal derslerinin 2. dönem konularından sorumlu olmayacaklardır.</b></li>
        <li><b>Bu durum, iptal edilmeyen konuların sınavda daha zor olacağı bilgisini, 2023 YKS adaylarına bildiriyor.
            <li>Dolayısıyla adayların, sınavda çıkacak konuların bilgisini bilme zorunluluğu var. Biz de adaylar için, sınavın AYT oturumuna yönelik konu analizini aşağıda yaptık.</li>
        </b></li>
        <a style="color:white"></style>
    </ul>   
     
 <h2 style="color:red"><u>Sayısal Dersler</u></h2>
    <ul>
     <li><b>M</b>atematik</li>
     <li><b>G</b>eometri</li>
     <li><b>F</b>izik</li>
     <li><b>K</b>imya</li>
     <li><b>B</b>iyoloji</li>
   </ul>  
   <hr style="width: 20%;text-align:left;margin-left:0;color:rgb(255, 255, 255)"></style>
 <ul>
 <h3><b><u>MATEMATİK</u></b></h3>
  <li>Trigonometri</li>
  <li>Fonksiyon Uygulamaları </li>
  <li>II. Dereceden Fonksiyon ve Grafikleri</li>
  <li>Fonksiyon Dönüşümleri</li>
  <li>II. Dereceden 2 Bilinmeyenli Denklemler</li>
  <li>II. Dereceden 2 Bilinmeyenli Eşitsizlikler</li>
  <li>Olasılık</li> 
  <li>Logaritma</li>   
  <li>Diziler</li>
  </ul>
  <hr style="width: 20%;text-align:left;margin-left:0;color:rgb(255, 255, 255)"></style>
  <ul> <h2><u><b>GEOMETRİ</b></u></h2>
<li>Noktanın Analitik İncelenmesi</li>
<li>Doğrunun Analitği</li>
<li>Dönüşümler, Dönme, Öteleme</li>
</ul>
<hr style="width: 20%;text-align:left;margin-left:0;color:rgb(255, 255, 255)"></style>
 <ul> <h3><u><b>FİZİK</b></u></h3>
    <li>Vektörler
        <li>Bağıl Hareket
            <li>Dinamik

            </li>
            <li>Bir Boyutta İvmeli Hareket

            </li>
            <li>İki Boyutta Hareket
                <li>İtme ve Momentum
                    <li>Tork- Denge
                        <li>Basit Makineler
                            <li>İş ve Enerji
                                <li>Elektriksel Kuvvet, Elektriksel Alan, Elektriksel Potansiyel
                                    <li>Sığaçlar
                                        <li>Manyetizma, Elektrik Akım, Transformatörler
                                            <li>Çembersel Hareket
                                                <li>Açısal Momentum
                                                    <li>Basit Harmonik Hareketler, Genel Çekim
                                                        <li>Dalgalarda Kırınım, Girişim</li>
                                                    </li>

                                                </li>
                                            </li>
                                        </li>
                                    </li>
                                </li>
                            </li>
                        </li>
                    </li>
                </li>
            </li>
        </li>
    </li>

 </ul>

 <hr style="width: 20%;text-align:left;margin-left:0;color:rgb(255, 255, 255)"></style>

 <ul> <h3><u><b>KİMYA</b></u></h3>
    <li>Modern Atom Teorisi
        <li>Gazlar
            <li>Sıvı Çözeltiler, Çözünürlük 
                <li>Kimyasal Tepkimelerde Enerji
                    <li>Kimyasal Tepkimelerde Hız
                        <li>Kimyasal Tepkimelerde Denge 
                            <p>-Asit- Baz Dengesi
                                <p>-Çözünme Çökelme Dengesi</p>
                            </p>
                            <li>Kimya ve Elektrik
                                <li>Karbon Kimyasına Giriş</li>
                            </li>
                            
                
                        </li>
                    </li>
                </li>
            </li>
        </li>
    </li>




</ul>
<hr style="width: 20%;text-align:left;margin-left:0;color:rgb(255, 255, 255)"></style>

<ul> <h3><u><b>BİYOLOJİ</b></u></h3>
    <li>Canlılarda Enerji Dönüşümleri
        <li>İnsan Fizyolojisi 
            <li>Destek ve Hareket Sistemi
                <li>Dolaşım Sistemi
                    <li>Üriner Sistem
                        <li>Üreme Sistemi ve Embriyonik Gelişim
                            <li>Komünite ve Popülasyon Ekolojisi 
                                <li>Genden Proteine
                                    <li>Fotosentez
                                        <li>Kemosentez
                                            <li>Hücresel Solunum
                                              
                                            </li>
                                        </li>
                                    </li>
                                </li>
                            </li>
                
                        </li>
                    </li>
                </li>
            </li>
        </li>
    </li>
    </ul>
    <hr style="width: 20%;text-align:left;margin-left:0;color:rgb(255, 255, 255)"></style>
    <h2 style="color:red"><u>Sözel Dersler</u></h2>

<ul>
    <li><b>E</b>debiyat</li>
<li><b>T</b>.C İnkılap Tarihi ve Atatürkçülük</li>
<li><b>C</b>oğrafya</li>
<li><b>F</b>elsefe</li>
<li><b>D</b>in Kültürü ve Ahlak Bilgisi</li>
</ul>
<hr style="width: 20%;text-align:left;margin-left:0;color:rgb(255, 255, 255)"></style>

<ul> <h3><u><b>EDEBİYAT</b></u></h3>
    <h4><u><b>1.Ünite: Giriş</b></u></h4>
    <li>Edebiyat-Felsefe İlişkisi
        <li>Edebiyat-Psikoloji İlişkisi
            <li>Dilin Tarihi Süreç İçerisindeki Değişimini Etkileyen Sebepler
                <li>İlk Örneklerden Günümüze Türkçe'nin Önemli Sözcükleri
                    <li>Yazım Kuralları
                        <li>Noktalama İşaretleri
                            <h4><u><b>2. Ünite: Hikaye</b></u></h4>
                            <li>1960 Sonrası Cumhuriyet Dönemi Hikaye
                                <li>Küçürek (Minimal) Hikaye
                                    <li>Kelimede Anlam
                                        <h4><u><b>3. Ünite: Şiir</b></u></h4>
                                            <li>Cumhuriyet Dönemi Saf Şiir Anlayışı
                                                <li>Cumhuriyet Dönemi Toplumcu Eğilimileri Yansıtan Şiir Anlayışı
                                                    <li>Milli Edebiyatı Yansıtan Şiir 
                                                        <li>Garip Akımını Temsil Eden Şiir
                                                            <li>İkinci Yeniciler
                                                                <li>Dini Değerleri, Geleneğe Duyarlılığı ve Metafizik Anlayışı Öne Çıkaran Şiir
                                                                    <li>1960 Sonrası Toplumcu Eğilimleri Öne Çıkaran Şiir
                                                                        <li>1980 Sonrası Türk Şiiri 
                                                                            <li>Cumhuriyet Sonrası Halk Şiiri</li>

                                                                        </li>
                                                                    </li>
                                                    
                                                                </li>
                                                            </li>
                                                        </li>
                                                    </li>
                                                </li>
                                            </li>
                                        
                                    </li>
                                </li>
                            </li>

                        </li>
                    </li>
                </li>
            </li>
        </li>
    
    </li>
</ul>
<hr style="width: 20%;text-align:left;margin-left:0;color:rgb(255, 255, 255)"></style>

<ul> <h3><u><b>T.C İNKILAP TARİHİ VE ATAÜRKÇÜLÜK</b></u></h3>

<li>Tarih Bilimi</li>
<li>Uygarlığın Doğuşu ve İlk Uygarlıklar
    <li>İlk Türk Devletleri
        <li>İslam Tarihi ve Uygarlığı 
            <p>(13. yy'a kadar)</p>
            <li>Türk-İslam Devletleri
                <p>(10 ve 13. yy)</p>
                <li>Türkiye Tarihi
                    <p>(11 ve 13. yy arası)</p>
                    <li>Beylikten Devlete 
                        <li>Dünya Gücü Osmanlı
                            <p>(1453-1595)</p>
                            <li>Arayış Yılları
                                <li>Avrupa ve Osmanlı Devleti 
                                    <li>En Uzun Yüzyıl 
                                        <li>Değişen Dünya Dengeleri Karşsısında Osmanlı Siyaseti
                                            <li>Değişim Çağında Avrupa ve Osmanlı
                                                <li>Devlet- Toplum İlişkileri
                                                    <li>Sermaye ve Emek
                                                        <li>19. ve 20. Yüzyıl Sonrası Değişen Günlük Hayat
                                                            <li>20. Yüzyıl Başlarında Osmanlı Devleti ve Dünya
                                                                <li>Uluslararası Stratejilerde Değişen Denge Stratejisi
                                                                    <p>(1774-1914)</p>
                                                                    <li>Milli Mücadele
                                                                        <li> Atatürkçülük ve Türk İnkılabı</li>
                                                        
                                                                    </li>
                                                                </li>
                                                            </li>
                                                        </li>
                                                    </li>
                                                </li>
                                            </li>
                                        </li>
                                    </li>
                                </li>
                            </li>
                        </li>
                    </li>
                </li>
            </li>
        </li>
    </li>
</li>
</ul>
<hr style="width: 20%;text-align:left;margin-left:0;color:rgb(255, 255, 255)"></style>

<ul> <h3><u><b>DİN KÜLTÜRÜ VE AHLAK BİLGİSİ</b></u></h3>
    <li>Dünya ve Ahiret
        <li>Kuran'a Göre Hz. Muhammet (s.a.v)
            <li>Kuran'da Bazı Kavramlar
                <li>İnançla İlgili Meseleler
                    <li>Yahudilik ve Hristiyanlık 
                        <li>İslam ve Bilim 
                            <li>Anadolu'da İslam
                            
                            </li>
                        </li>
                    </li>
                </li>
            </li>
        </li>
    </li>
</ul>
<hr style="width: 20%;text-align:left;margin-left:0;color:rgb(255, 255, 255)"></style>

<ul> <h3><u><b>COĞRAFYA</b></u></h3>
    <li>Biyoçeşitlilik- Ekosistem ve Madde Döngüsü
        <li>Nüfus Politikaları ve Şehirlerin Fonksiyonları
            <li>Ekonomik Faaliyetler: Üretim- Dağıtım- Tüketim
                <li>Doğal Kaynaklar- Ekonomi İlişkisi
                    <li>Türkiye'deki Ekonomik Faaliyetler
                        <li>İlk Uygarlıklar ve Kültür Bölgeleri- Türk Kültürü
                            <li>Uluslararası Ticaret ve Turizm
                                <li>Sanayileşmiş Bir Ülke, Tarım- Ekonomi İlişkisi
                                    <li>Küresel ve Bölgesel Örgütler
                                        <li>Çevre ve Toplum
                                            <li>Ekstrem Doğa Olayları 
                                                <li>Geçmişten Geleceğe Şehir ve Ekonomi
                                                    <li>Türkiye'nin İşlevsel Bölgeleri ve Kalkınma Projeleri 
                                                        <li>Hizmet sektörünün Ekonomideki Yeri 
                                                            <li>Türkiye'deki Ulaşım Sistemleri
                                                                <li>Küresel Ticaret
                                                                    <li>Türkiye'deki Ticaret ve Turizm

                                                                    </li>
                                                                </li>
                                                            </li>
                                                        </li>
                                                    </li>
                                                </li>
                                            </li>
                                        </li>
                                    </li>
                        
                                </li>
                            </li>
                        </li>
                    </li>
                </li>
            </li>
        </li>
    </li>
</ul>

<hr style="width: 20%;text-align:left;margin-left:0;color:rgb(255, 255, 255)"></style>
<ul> <h3><u><b>FELSEFE</b></u></h3>
<p><u><b>PSİKOLOJİ KONULARI</b></u></p>
<li>Psikoloji Bilimini Tanıyalım 
    <li>Psikolojinin Temel Süreçleri</li>
</li>
<p><b><u>SOSYOLOJİ KONULARI</u></b></p>
<li>Sosyolojiye Giriş
    <li>Birey ve Toplum
        <li>Toplumsal Yapı
            <li>Toplumsal Değişme ve Gelişim</li>
        </li>
    </li>
</li>
<p><u><b>MANTIK KONULARI</b></u></p>
<li>Mantığa Giriş
    <li>Klasik Mantık </li>
</li>
</ul>
    </body></head></html>
